/*.jumbotron {
  background-image: url("./img/cover.jpeg");
  background-size: cover;
}*/

/*.jumbotron {
  background: linear-gradient(5deg, #FFFFFF 60%, #D5E1DF 30%);
  margin-top: 0px;
  border-radius: 0%;
  padding: 10px;
}*/


/*.jumbotron {
  background: linear-gradient(5deg, #FFFFFF 60%, #D5E1DF 30%);
  margin-top: 0px;
  border-radius: 0%;
  padding: 10px;
}

body {
  background-color: #D5E1DF;
}*/

body{
  padding-top: 40px; 
}

html{
  scroll-padding-top: 20%;
}

.jumbotron {
  background: linear-gradient(5deg, #FFFFFF 60%, #D4E6F199 30%);
  margin-top: 0px;
  border-radius: 0%;
  padding: 10px;
}

body {
  background-color: #D4E6F199;
}

a{
  border-bottom: 1px black dotted;
  color: black;
  /*color: #007c89;*/
}

a:hover{
  border-bottom: 1px #007c89 dotted;
  text-decoration: none;
  color: #007c89;
}

br {
      line-height: 10%;
   }

.container{
  background-color: white;
  margin-top: 20px;
  padding: 0px;
}
.profile{
  border-radius: 100%;
  width: 80%;
}
.col-sm-4{
  margin: 20px;
}

p.lead{
  font-size: 18px;
  margin: 0px;
}

h5{
  font-size: 18px;
}

.textbox{
  margin-top: 20px;
  margin-bottom: 0px;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1%;
  margin-top: 10px;
}

hr{
  margin-top: 30px;
  margin-bottom: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 5;
  text-align:center;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
}

li a {
  display: inline;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom: none;
}

li a:hover { 
  text-decoration: none;
}

.dropdown {
  float: right;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  color: black;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  font-size: 12px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.lead.author{
  font-size: 16px;
}

.lead.title{
  font-size: 18px;
}

.lead.publisher{
  
  font-size: 15px;  
  font-style: italic;
}

.lead.link{
  
  font-size: 15px;
}

.lead.date{
  font-size: 16px;
}

.lead.center{
  text-align: center;
}

.img-hover-container{
  position:relative;
  background: black;
  display:block;
  overflow:hidden;
}

.text{
  position: absolute;
  visibility: hidden;
  color: white;
}

.img-hover-container .text-hover:hover .text{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  color: white;
  visibility: visible;
  text-align: center;
  transform: translate(-50%, -50%);
}

.img-hover-container .text-hover:hover .img-hover{
  opacity: 0.4;
}

.video_container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
